/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 10.08.2015, 23:18:58
    Author     : meltemozkul
*/
*, *:before, *:after {
  box-sizing: border-box;
}

h1{
    padding-top: 10px;
    border-bottom: 10px;
   }

body {
  font-family: arial, sans-serif;
  font-size: 16px;
  cursor: default;
}

/*canvas {
  position: absolute;
  top: 0;
  left: 0;
  border: 1px solid black;
  z-index: 1;
  width: 600px;
  height: 360px;
}*/


ul {
  list-style: none;
  padding: 10px 0;
  margin: 10px 0;
}
li {
  padding: 10px 0;
}

a {
  text-decoration: none;
  color: inherit;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

/*.wrapper {
  width: 600px;
  height: 360px;
  position: absolute;
  top: 5px;
  left: 5px;
}*/

/*#menu {
  position: absolute;
  width: 600px;
  height: 360px;
  z-index: 2;
  text-align: center;
  
}*/


/*#percent {
  color: white;
  font-weight: bold;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}*/

.sound {
  display: none;
  position: absolute;
  top: 10px;
  left: 10px;
  width: 30px;
  height: 25px;
  cursor: pointer;
  z-index: 3;
}
.sound-on {
  background-image: url('imgs/soundOn.png');
  background-repeat: no-repeat;
}
.sound-off {
  background-image: url('imgs/soundOff.png');
  background-repeat: no-repeat;
}
/*
#main {
  display: none;
  height: 60%;
  overflow: auto;
  margin: auto;
  position: absolute;
  top: 0; left: 0; bottom: 0; right: 0;
}*/

.button {
  display: block;
  width: 150px;
  margin: 0 auto;
  height: 30px;
  line-height: 30px;
  border: 2px solid #000000;
  color: white;
  font-weight: bold;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
  background-color: #FB1886;
  background-image: -webkit-linear-gradient(bottom, #F5F5F5 0%, #000000	 100%);
  background-image:         linear-gradient(to bottom, #F5F5F5	 0%, #000000	 100%);
  border-radius: 5px;
}

/*.button:hover {
  background-color: #B30D5D;
  background-image: -webkit-linear-gradient(bottom, #94dc54 0%, #000000 100%);
  background-image:         linear-gradient(to bottom, #94dc54 0%, #000000 100%);
}*/


.music {
  color: #e6e71f;
}
.developer {
  color: #13eb8a;
}

.back, .back:hover {
  margin-top: 10px;
}

