/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 05.08.2015, 15:03:38
    Author     : meltemozkul
*/
body { margin: 0; }
canvas { width: 100%; height: 100% }
